@page "/child"
<div style="border:5px red solid; padding:20px ">
    <h3>Child</h3>
    <button class="btn btn-danger" @onclick="increment">  increment</button>
</div>


@code {
    [Parameter]
    public EventCallback<int> counterChangerEvent { set; get; }
    public int Counter { set; get; } = 0;
    public void increment()
    {
        Counter++;
        counterChangerEvent.InvokeAsync(Counter);
    }

}

