@page "/parent"

<h3>Parent</h3>
<Child counterChangerEvent="counterHandler"></Child>
<h3>parent counter  : @parentCounter</h3>
@code{
    public int parentCounter { get; set; }
    public void counterHandler(int c)
    {
        parentCounter = c;
    }
}