@page "/products/details/{id:int}"
@inject ProductService productService;

@if (product != null)
{
<div class="card" style="width:400px">
    <img class="card-img-top" src="https://www.weikfitness.com/wp-content/uploads/2020/06/Online-Grocery-Shopping.jpg" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">@product.name</h4>
        <p class="card-text">@product.price</p>
        <p class="card-text">Category: @product.CategoryID</p>

    </div>
    <a href="/products" class="btn btn-primary">back to list</a>
</div>
}
else
{
}


@code {

    public Product product { get; set; }
    [Parameter]
    public int id { set; get; }

    protected override Task OnInitializedAsync()
    {
        product = productService.getById(id);
        Console.WriteLine(id);
        return base.OnInitializedAsync();
    }

}
