
@{
    ViewBag.Title = "_LylaLayout";
}

<!DOCTYPE html>
<html class="js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layla - Coming Soon Page</title>

    <!-- Stylesheets -->

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Google Fonts -->

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic|Cinzel:400,700,900' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="preloader"></div>
    <section style="background-color:blueviolet" id="video-wrap">
        <div id="video"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo text-center wow fadeInDown">
                        <a href="#"><img src="~/Content/assets/logo.png" alt="Layla"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 wow fadeInLeft" style="z-index: 9999;">
                    <div class="headline-wrap">
                        <h1 class="headline">
                            We Are Coming With Something
                            <br>
                            <span class="quotes">Amazing</span>
                            <span class="quotes">Beautiful</span>
                            <span class="quotes">Superb</span>
                            <span class="quotes">Terrific</span>
                            <span class="quotes">Awesome</span>
                            <span class="quotes">Amazing</span>
                            <span class="quotes">Amazing</span>
                            <br>
                            Subscribe and Stay UPDATED.
                        </h1>
                        <form role="form" id="subscribe-form" class="row">
                            <div class="form-group col-xs-10">
                                <input type="email" name="email" class="form-control mc-email" id="subscriber-email" placeholder="Email" required>
                            </div>
                            <div class="form-group col-xs-2 push-btn-left">
                                <button id="subscribe-button" type="submit" class="btn btn-default mc-btn">
                                    OK
                                </button>
                            </div>
                        </form>
                        <!-- SUCCESS OR ERROR MESSAGES -->
                        <div id="subscription-response"></div>
                    </div>
                </div>
                <div class="col-md-5  wow fadeInRight">
                    <div class="clock row">
                        <div class="col-xs-3 col-sm-3 col-md-6">
                            <div class="countdown-time-value clock-item clock-days">
                                <div class="wrap">
                                    <div class="inner">
                                        <div id="canvas-days" class="clock-canvas"></div>

                                        <div class="text">
                                            <p class="val">0</p>
                                            <p class="type-days type-time">DAYS</p>
                                        </div><!-- /.text -->
                                    </div><!-- /.inner -->
                                </div><!-- /.wrap -->
                            </div>
                        </div><!-- /.clock-item -->

                        <div class="col-xs-3 col-sm-3 col-md-6">
                            <div class="clock-item clock-hours countdown-time-value">
                                <div class="wrap">
                                    <div class="inner">
                                        <div id="canvas-hours" class="clock-canvas"></div>

                                        <div class="text">
                                            <p class="val">0</p>
                                            <p class="type-hours type-time">HOURS</p>
                                        </div><!-- /.text -->
                                    </div><!-- /.inner -->
                                </div><!-- /.wrap -->
                            </div>
                        </div><!-- /.clock-item -->

                        <div class="col-xs-3 col-sm-3 col-md-6">
                            <div class="clock-item clock-minutes countdown-time-value">
                                <div class="wrap">
                                    <div class="inner">
                                        <div id="canvas-minutes" class="clock-canvas"></div>

                                        <div class="text">
                                            <p class="val">0</p>
                                            <p class="type-minutes type-time">MINUTES</p>
                                        </div><!-- /.text -->
                                    </div><!-- /.inner -->
                                </div><!-- /.wrap -->
                            </div>
                        </div><!-- /.clock-item -->

                        <div class="col-xs-3 col-sm-3 col-md-6">
                            <div class="clock-item clock-seconds countdown-time-value">
                                <div class="wrap">
                                    <div class="inner">
                                        <div id="canvas-seconds" class="clock-canvas"></div>

                                        <div class="text">
                                            <p class="val">0</p>
                                            <p class="type-seconds type-time">SECONDS</p>
                                        </div><!-- /.text -->
                                    </div><!-- /.inner -->
                                </div><!-- /.wrap -->
                            </div>
                        </div><!-- /.clock-item -->
                    </div>
                </div>
            </div>
        </div>

        @*<div class="arrow-down text-center">
            <a href="#nav-menu" class="wow bounce" data-wow-duration="4s" data-wow-delay="1s" data-wow-iteration="1000"><i class="ion-chevron-down"></i></a>
        </div>*@
    </section>

    <section>
        <nav id="nav-menu" class="navbar nav-layla" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                    <i class="ion-navicon"></i>
                </button>
                <a class="navbar-brand" href="#">LAYLA</a>
            </div>

            <div class="collapse navbar-collapse main-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#wrap">Top</a><span class="hover-li"></span></li>
                    <li><a href="#about">About</a><span class="hover-li"></span></li>
                    <li><a href="#contact">Contact</a><span class="hover-li"></span></li>
                </ul>
            </div>
        </nav>
    </section>
    <section style="display:flex">
        @RenderBody();
    </section>
    
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p class="copyright text-left">Copyright © 2014 Your Website Link. All rights reserved.</p>
                </div>
                <div class="col-sm-4">
                    <p class="copyright text-right">Theme by <a href="https://themewagon.com/">ThemeWagon</a></p>
                </div>
            </div>
        </div>
    </section>



    <script src="~/Scripts/js/modernizr.custom.js"></script>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery.videoBG.js"></script>
    <script src="~/Scripts/js/jquery.sticky-kit.min.js"></script>
    <script src="~/Scripts/js/wow.min.js"></script>
    <script src="~/Scripts/js/kinetic.js"></script>
    <script src="~/Scripts/js/jquery.final-countdown.min.js"></script>
    <script src="~/Scripts/js/script.js"></script>
    @RenderSection("JQval", required: false);
</body>
</html>

