@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<input type="text" id="msg" />
<input type="button" id="btn" />
<ul id="Massages"></ul>

@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="http://localhost:9999/signalr/js"></script>
    <script>
        var proxy = $.connection.ChatHub;
        $.connection.hub.url = "http://localhost:9999/signalr";
        $.connection.hub.start().done(
            function () {
                console.log("Started");
                $("#btn").click(function () {
                    proxy.server.Message("Web", $("#msg").val());
                });
            });
        proxy.client.WriteMessage = function (name, msg) {
            $("#Massages").append("<li>"+name+":"+msg+"</li>");

        }
    </script>

}