@using mvcDay2.Models

@model Products

@{
    ViewBag.Title = "showDetails";
}

<h2> deep Details of :@Model.Name</h2>
<div class="panel panel-success" style="width: 18rem;">
    <div class="panel-title">
        <div class="panel-heading">
            Name     :@Model.Name
        </div>
    </div>
    <div class="panel-body">
        <img class="card-img-top" style="width:150px;height:150px" src="~/Content/@Model.image" alt="Card image cap">
        Price    :@Model.Price<br />
        Quantuty :@Model.Quantity<br />
        @Model.ReviewsCounter Reviews  :
        @foreach (var i in @Model.Reviews)
        {
            <br /> @i.ReviewDetails
        }
        <br />

    </div>
   <a href="/Category/showAllProducts/@Model.CategoryId">back to list </a>
    
  </div>


