@using mvcDay2.Models
@model CategoriesType

@{
    ViewBag.Title = "showAllProducts";
}
<div id="Details">nooooooooooooooor</div>
<div id="wait" style="display:none"></div>
<ul>
@foreach (var item in Model.Products.ToList())
{
    <li>@Ajax.ActionLink(
        item.Name.ToString(),
        "showAllProductsPartialView",
        "Category",
        new { id = item.CategoryId },
        new AjaxOptions
        {
            UpdateTargetId = "Details"
          ,
            InsertionMode = InsertionMode.Replace
          ,
            HttpMethod = "Get"
          ,
            LoadingElementId = "wait"
        },
        new {@class="btn btn-success"}
        );</li>
}</ul>
@*@{
    Html.RenderAction("showAllProductsPartialView", new { id = Model.Id });
}*@



@section JQVal{

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}