@using mvcDay2.Models
@model CategoriesType
@{
    ViewBag.Title = "showAllCategories";
}

<h2>showAllCategories</h2>
<a class="btn btn-warning" href="/Category/AddCategory">Add new category</a>

@foreach (var i in ViewBag.ctgList)
{
    <div class="panel panel-success" style="width: 18rem;">
        <div class="panel-title">
            <a href="/Category/showAllProducts/@i.Id" class="panel-heading">
                @i.CategoryName
            </a>
        </div>
        <div class="panel-body">
            <img class="card-img-top" style="width:150px;height:150px" src="~/Content/c.jpg" alt="Card image cap">
            category description here <br />
            category description here <br />
        </div>

    </div>

}


