
@{
    ViewBag.Title = "showColoredDetails";
}



<h2>  Details of :@Model.Name</h2>
<div style="color:@Model.Color;width: 18rem;" class="panel panel-success" >
    <div class="panel-title">
        <div class="panel-heading">
            Name     :@Model.Name
        </div>
    </div>
    <div class="panel-body">
        <img class="card-img-top" style="width:150px;height:150px" src="~/Content/@Model.image" alt="Card image cap"><br />
        Quantuty :@Model.Quantity<br />
        <br />

    </div>

</div>