@using mvcDay2.Models
@model Products
@{
    ViewBag.Title = "showAllProductInStock";
}

<h2>showAllProductInStock</h2>
<form action="/Category/search" method="get">
    <input type="search" name="categoryName" value="@ViewBag.categoryName" /><input type="submit" />
</form>

@foreach (var j in ViewBag.ctgList)
{
    foreach (var i in j.Products)
    {<div class="panel panel-success" style="width: 18rem;">
        <div class="panel-title">
            <a href="/Product/showDetails/@i.Id" class="panel-heading">
                @i.Name
            </a>
        </div>
        <div class="panel-body">
            <img class="card-img-top" style="width:150px;height:150px" src="~/Content/@i.image" alt="Card image cap">
            Price    :@i.Price<br />
            Quantuty :@i.Quantity<br />
            <a href="/Product/EditProduct/@i.Id" class="panel-heading">Edit</a>
            <a href="/Product/DeleteProduct/@i.Id" class="panel-heading">Delete</a>
        </div>

    </div>

    }
}
