
@{
    ViewBag.Title = "showIntakeStudents";
}

<h2>showIntakeStudents</h2>
@foreach (var s in Model.students)
{
<img src="~/Content/@(s.img)"/>
<h4>ID : @s.id</h4>
<h4>Name : @s.name</h4>
<h4>Manager : @s.manager</h4>
<h4>IntakeNo : @s.intakeNo</h4>
}